form,
label,
input {
    margin-top: 10px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
}

table {
    margin-top: 45px;
}

.th {
    font-size: medium;
    color: black;
}

input[type=checkbox] {
    transform: scale(1.5);
}