form,
label,
input {
    margin-top: 10px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
}

table {
    margin-top: 20px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

/* .checkbox{
    margin-top: 10px;
} */