<div>
    <form [formGroup]="login" class="container" name="MyForm">
        <label style="font-size: large; font-weight: 700;">UserId :</label>
        <input type="text" name="user_id" placeholder="Enter Your User Id" style="margin-left: 23px;" />
        <span class="error" ng-show="MyForm.UserId.$dirty && MyForm.UserId.$error.required"></span><br>

        <label style="font-size: large; font-weight: 700;">Pass :</label>
        <input type="text" name="pass" placeholder="Enter Your Pass" style="margin-left: 40px;" />
        <span class="error" ng-show="MyForm.Pass.$dirty && MyForm.Pass.$error.required"></span><br>

        <label style="font-size: large; font-weight: 700;">Cat :</label>
        <input type="text" name="cat" placeholder="Enter Your Cat" style="margin-left: 48px;" />
        <span class="error" ng-show="MyForm.Cat.$dirty && MyForm.Cat.$error.required"></span><br>

        <label style="font-size: large; font-weight: 700;">Mail :</label>
        <input type="text" placeholder="Enter Your Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"
            name="email" ngModel #emailref="ngModel" style="margin-left: 38px;">
        <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="alert alert-danger">
            <div [hidden]="!emailref.errors?.pattern">
                Invalid pattern
            </div>
        </div><br>
        <!-- <span class="error" ng-show="MyForm.Mail.$dirty && MyForm.Mail.$error.required"></span> -->

        <label style="font-size: large; font-weight: 700;">CheckBox :</label>
        <input type="checkbox" name="checkbox" placeholder="Enter Your Checkbox" style="margin-left: 10px;"
            class="checkbox" />
        <span class="error" ng-show="MyForm.CheckBox.$dirty && MyForm.CheckBox.$error.required"></span><br>

        <button name="button" id="submit" type="submit" value="Submit" (click)="onSubmit()" style="cursor:pointer;"
            class="btn btn-primary">Submit</button>
    </form>

    <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- user_id Column -->
        <ng-container matColumnDef="user_id">
            <mat-header-cell *matHeaderCellDef> USER_ID </mat-header-cell>
            <mat-cell *matCellDef="let user of userData"> {{user.user_id}} </mat-cell>
        </ng-container>

        <!-- pass Column -->
        <ng-container matColumnDef="pass">
            <mat-header-cell *matHeaderCellDef> PASS </mat-header-cell>
            <mat-cell *matCellDef="let user of userData"> {{user.pass}} </mat-cell>
        </ng-container>

        <!-- cat Column -->
        <ng-container matColumnDef="cat">
            <mat-header-cell *matHeaderCellDef> CAT </mat-header-cell>
            <mat-cell *matCellDef="let user of userData"> {{user.cat}} </mat-cell>
        </ng-container>

        <!-- mail Column -->
        <ng-container matColumnDef="mail">
            <mat-header-cell *matHeaderCellDef> MAIL </mat-header-cell>
            <mat-cell *matCellDef="let user of userData"> {{user.mail}} </mat-cell>
        </ng-container>

        <!-- checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef> CHECKBOX </mat-header-cell>
            <mat-cell *matCellDef="let user of userData"> {{user.checkbox}} </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> ACTION </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- <table mat-table class="table">
        <thead>
            <th>USER_ID</th>
            <th>PASS</th>
            <th>CAT</th>
            <th>MAIL</th>
            <th>CHECKBOX</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of userData">
                <td>{{ user.user_id }}</td>
                <td>{{ user.pass }}</td>
                <td>{{ user.cat }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.checkbox }}</td>
                <td>
                    <button type="button" (click)="deletePost()" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>