* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

form,
label,
input {
    margin-top: 20px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
}

.btn-denger {
    color: red;
}

.btn-denger:hover {
    color: red;
}

.btn-primari {
    color: blue;
}

.btn-primari:hover {
    color: blue;
}

table {
    margin-top: 45px;
    width: 100%;
}

th {
    font-size: medium;
    color: black;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.mat-paginator {
    width: 100%;
}

.cursor {
    padding-top: 20px;
}

.btn-sub {
    margin-top: 20px;
}