<div>
    <form [formGroup]="loginForm" class="container" novalidate>
        <label style="font-size: large; font-weight: 700;">UserId <span style="margin-left: 28px;">:-</span></label>
        <input type="text" name="user_id" placeholder="Enter Your User Id" style="margin-left: 16px;"
            formControlName="user_id" />
        <div *ngIf="loginForm.controls['user_id'].invalid && loginForm.controls['user_id'].touched"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls['user_id'].errors.required">
                UserId is required.
            </div>
        </div><br>

        <label style="font-size: large; font-weight: 700;">Pass <span style="margin-left: 46px;">:-</span></label>
        <input type="text" name="pass" placeholder="Enter Your Pass" style="margin-left: 18px;"
            formControlName="pass" />
        <div *ngIf="loginForm.controls['pass'].invalid && loginForm.controls['pass'].touched"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls['pass'].errors.required">
                Pass is required.
            </div>
        </div><br>

        <label style="font-size: large; font-weight: 700;">Cat <span style="margin-left: 55px;">:-</span></label>
        <input type="text" name="cat" placeholder="Enter Your Cat" style="margin-left: 18px;" formControlName="cat" />
        <div *ngIf="loginForm.controls['cat'].invalid && loginForm.controls['cat'].touched" class="alert alert-danger">
            <div *ngIf="loginForm.controls['cat'].errors.required">
                Cat is required.
            </div>
        </div><br>

        <label style="font-size: large; font-weight: 700;">Mail <span style="margin-left: 45px;">:-</span></label>
        <input type="text" name="mail" placeholder="Enter Your Mail" style="margin-left: 18px;"
            formControlName="mail" />
        <div *ngIf="loginForm.controls['mail'].invalid && loginForm.controls['mail'].touched"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls['mail'].errors.required">
                Mail is required.
            </div>
            <div *ngIf="loginForm.controls['mail'].invalid && loginForm.controls['mail'].touched"
                class="alert alert-danger">Please enter a valid mail.</div>
        </div><br>

        <label style="font-size: large; font-weight: 700;">CheckBox :-</label>
        <input type="checkbox" name="checkbox" placeholder="Enter Your Checkbox" style="margin-left: 10px;"
            class="checkbox" formControlName="checkbox" />
        <div *ngIf="loginForm.controls['checkbox'].invalid && loginForm.controls['checkbox'].touched"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls['checkbox'].errors.required">
                Checkbox is required.
            </div>
        </div><br>

        <button name="button" id="submit" type="button" value="Submit" (click)="onSubmit()" style="cursor:pointer;"
            class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
    </form>

    <mat-table #table [dataSource]="userData">

        <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition" -->

        <!-- user_id Column -->
        <ng-container matColumnDef="user_id">
            <mat-header-cell *matHeaderCellDef> User_id </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.USER_ID}} </mat-cell>
        </ng-container>

        <!-- pass Column -->
        <ng-container matColumnDef="pass">
            <mat-header-cell *matHeaderCellDef> Pass </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.PASS}} </mat-cell>
        </ng-container>

        <!-- cat Column -->
        <ng-container matColumnDef="cat">
            <mat-header-cell *matHeaderCellDef> Cat </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.CAT}} </mat-cell>
        </ng-container>

        <!-- mail Column -->
        <ng-container matColumnDef="mail">
            <mat-header-cell *matHeaderCellDef> Mail </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.MAIL}} </mat-cell>
        </ng-container>

        <!-- checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef> Checkbox </mat-header-cell>
            <mat-cell *matCellDef="let userData"> {{userData.CHECKBOX}} </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- <table class="table">
        <thead>
            <th>USER_ID</th>
            <th>PASS</th>
            <th>CAT</th>
            <th>MAIL</th>
            <th>CHECKBOX</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of userData">
                <td>{{ user.user_id }}</td>
                <td>{{ user.pass }}</td>
                <td>{{ user.cat }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.checkbox }}</td>
                <td>
                    <button type="button" (click)="deletePost()" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>